<div class="main-header bg-white">
    <div class="container w-full container-wrap mx-auto px-3 py-3">
        <div class="flex justify-between items-center">
            <div class="logo">
                <img src="/logo.png" alt="">
            </div>
            <div class="navigation nav">
                <ul class="flex uppercase justify-center items-center font-semibold gap-8 text-gray-500">
                    <li *ngFor="let menu of navList">
                        <a [href]=menu.url class="nav-transition">{{menu.title}}</a>
                    </li>
                    <li>buttonsss</li>
                </ul>
            </div>
            <button class="nav-toggler"><fa-icon [icon]="fabars"></fa-icon></button>
        </div>   
    </div>
</div>